a { 
  color:  #0099cc;
}

.theme-image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 2%;
  height: 20%;
}

.profile-box {
  width: 80%;
  padding-top: 5%;
  align-content: center;
}

.description-main { 
  width: 80%;
  padding-top: 5%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: 'Roboto', serif;
  /*font-style: italic;*/
}

.description {
  width: 80%;
  align-content: center;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: 'Roboto', serif;
  /*font-style: italic;*/
}

.divider {
  padding-top: 5px;
}