div {
  font-family: 'Inconsolata', monospace;
}
p { 
  font-family: 'Inconsolata', monospace;
}
.ar {
  font-family: 'Tajawal', sans-serif;
}
.code {
  font-family: 'Inconsolata', monospace;
}
.head{
  font-family: 'Playfair Display', serif;
}
.source {
  color: Maroon; 
}
.note {
  color: gray;
}